.DS_Store
node_modules
build
BLOG.md
TODO.md
.trunk
# yarn.lock
package-lock.json
yarn.lock
docs
*.pkl
.setup_done
__pycache__
bun.lockb
mise.toml
.env*

# yarn path
.yarn/*
!.yarn/releases
.yarn/releases/*
!.yarn/releases/yarn-3.8.7.cjs